.board {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.grid {
    background-color: rgb(187, 170, 122);
    margin-top: 20px;
    display: flex;
    align-self: center;
    flex-direction: column;
    outline: none;
    border-top: .3vw solid rgb(225, 208, 159);
    border-left: .3vw solid rgb(210, 190, 148);
    border-right: .3vw solid rgb(155, 137, 87);
    border-bottom: .3vw solid rgb(116, 95, 56);
}

.row {
    display: flex;
    justify-content: center;
}
